body {
    background-color: black;
    color: white;
}
/*conteneur de #classes et #statu*/
#conteneur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  display: none;
}
/*pour le conteneur des classes*/
#classes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/*pour les classes*/
.classe{
  width: 90%;
  padding: 1rem;
  border: white solid 3px;
  border-radius: 1rem;
  box-shadow: 1px 2px 4px white;
}
a{
  text-decoration: none;
  color: white;
  text-align: center;
  cursor: pointer;
  /* Désactive la couleur de fond par défaut sur mobile */
  -webkit-tap-highlight-color: transparent;
}

/* navbar */
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #3056ff; /* Bleu */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
}

/* Liens */
.navbar a {
  font-size: 14px;
  flex: 1;
}

/* Icônes */
.navbar i {
  font-size: 22px;
  display: block;
  margin-bottom: 4px;
}